{% extends "base_auth.html" %}

{% load static %}

{% block content %}

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

        <div class="card mt-5">

            <div class="card-body">
                <div class="card-title py-2">

                    <h4>Register for a free account</h4>

                </div>
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}

                    {% include 'partials/_messages.html' %}
                    <div class="form-group">
                        <input type="text" name="username" placeholder="username" id="usernamefield" class="form-control form-control-sm" value="{{fieldValues.username}}" />
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="password" id="passwordfield" class="form-control form-control-sm" value="{{fieldValues.password}}" />
                        <small class="float-right py-3 showpassword">SHOW</small>
                    </div>
                    <input type="submit" value="Login" class="btn btn-block btn-primary" id="submit-btn" />
                </form>
                <div class="container">
                    <span class="text-lead lead">Dont have an account ?</span><a href="{% url 'register' %}">Register Now !</a><br />
                    <span class="text-lead lead">You forgot your password ?</span><a href="{% url 'reset_password' %}">Reset it Now !</a>
                </div>
            </div>
            
            
        </div>

    </div>
    <div class="col-md-4"></div>
</div>
<script src="{% static 'js/register.js' %}"></script>

{% endblock content %}